<div class="signup">
  <i class="fas fa-arrow-left signup-back"></i>
  <% user = User.new %>
  <ul id="signup-nav">
    <li data-index=0 >Email</li>
    <li data-index=1 >Password</li>
    <li data-index=2 >Avatar</li>
    <li data-index=3 >Are You An Artist?</li>
    <li data-index=4 >Artist Name</li>
    <li data-index=5 >Genre</li>
    <li data-index=6 >Done</li>
  </ul>
  <%= simple_form_for user, url: registration_path(user)   do |f| %>
  <div class="signup-view">
    <div class="signup-content">
      <%= label_tag("user[email]", "What's your email?") %>
      <%= text_field_tag("user[email]", nil, :class => 'form-control', :autocomplete => 'off') %>
      <%= submit_tag("Continue", :class => "btn btn-danger  btn-home btn-height-adjust signup-continue") %>
    </div>
  </div>
  <div class="signup-view">
    <div class="signup-content">
      <%= label_tag("user[password]", "Password") %>
      <%= password_field_tag("user[password]", nil, :class => 'form-control', :autocomplete => 'off') %>
      <%= label_tag("user[password_confirmation]", "Confirm Password") %>
      <%= password_field_tag("user[password_confirmation]", nil, :class => 'form-control', :autocomplete => 'off') %>
      <%= f.button :submit, "Continue", class: "btn-danger  btn-home btn-height-adjust signup-continue" %>
    </div>
  </div>
  <div class="signup-view">
    <div class="signup-content">
      <%= f.input :avatar, label: "Upload an avatar (optional)" %>
      <%= f.input :avatar_cache, as: :hidden %>
      <%= f.button :submit, "Continue", class: "btn-danger  btn-home btn-height-adjust signup-continue" %>
    </div>
  </div>
  <div class="signup-view">
    <div class="signup-content">
      <p>Are you an artist?</p>
      <%= hidden_field_tag "user[artist]", "", :class => 'signup-artist-hidden' %>
      <%= f.button :submit, "Yes", class: "btn-danger  btn-home btn-height-adjust signup-continue signup-split" %>
      <%= f.button :submit, "No", class: "btn-danger  btn-home btn-height-adjust signup-continue signup-split" %>
    </div>
  </div>

  <div class="signup-view">
    <div class="signup-content">
      <%= label_tag("user[artist_name]", "What's your artist alias?") %>
      <%= text_field_tag("user[artist_name]", nil, :class => 'form-control', :autocomplete => 'off') %>
      <%= f.button :submit, "Continue", class: "btn-danger  btn-home btn-height-adjust signup-continue" %>
    </div>
  </div>
  <div class="signup-view">
    <div class="signup-content">
      <%= label_tag("genre", "What's the genre?") %>
      <%= text_field_tag("genre", nil, :class => 'form-control', :autocomplete => 'off') %>
      <%= f.button :submit, "Continue", class: "btn-danger  btn-home btn-height-adjust signup-continue" %>
    </div>
  </div>
  <div class="signup-view">
    <div class="signup-content">
      <p>You're all done!</p>
      <%= f.button :submit, "Continue", class: "btn-danger btn-home btn-height-adjust " %>
    </div>
  </div>
  <% end %>

</div>
