<div class="container">

  <p>Artist Name</p>
  <%= @contribution.artist.artist_name %>

  <p>Artist image</p>
  <%= cl_image_path @contribution.artist.avatar %>

  <p>Contribution Message</p>
  <%= @contribution.message %>

  <p>Amount of contribution</p>
  <%= humanized_money_with_symbol(@contribution.amount) %>

  <h1 id='thanks'>Thanks!</h1>
  <div class="message">
    <p>On behalf of artists everywhere, thank you for your contribution</p>
    <p class='team'> - StreetBusk Team</p>
  </div>
  <div class="move">
    <%= link_to 'Back to Performances', performances_path, class: 'btn btn-primary contribution' %>
  </div>
</div>

