<div class="container">
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>">
  </div>

  <h1>Performances (<%= @performances.length %>)</h1>
  <ul>
  <% @performances.each do |performance| %>
    <%= cl_image_tag performance.photo, height: 300, width: 400, crop: :fill %>
    <li><%=link_to performance.user.name, performance_path(performance) %> - <%= performance.location %></li>
  <% end %>
  </ul>
</div>
