<div class="container">
  <h2>Create a performance</h2>
  <%= simple_form_for @performance do |f| %>
    <%= f.input :location %>

    <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>

    <%#= f.input :start_time %>
    <%#= f.input :end_time %>
    <%= f.input :description %>
    <%= f.input :genre_id, collection: Genre.all %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, "Create", class: "btn btn-warning btn-home" %>
  <% end %>
</div>
