<div class="container">
  <h1><%= @performance.user.name %></h1>
  <ul>
    <%= cl_image_tag @performance.photo_url, height: 300, crop: :fill %>
    <li><%= @performance.location %></li>
    <li><%= @performance.start_time %></li>
    <li><%= @performance.end_time %></li>
    <li><%= @performance.description %></li>

    <%= simple_form_for(@contribution) do |f| %>
      <%= f.input :amount %>
      <%= f.input :artist_id, as: :hidden, input_html: { value: @performance.user.id } %>
      <%= f.submit 'contribute', class: 'btn btn-primary' %>
    <% end %>

    <%#= form_tag contributions_path do %>
    <%#= text_field :amount, :post %>
    <%#= hidden_field_tag 'performance_id', @performance.id %>
    <%#= submit_tag 'Contribute', class: 'btn btn-primary' %>
    <%# end %>

  </ul>
  <ul class="attendance">
    <% @attendance.each do |a| %>
    <li> <%= a.user.email %></li>
    <% end %>
  </ul>
  <%= link_to 'Back', performances_path %>
</div>
